{% extends "base.html" %}

{% block title %}系统配置管理 - LandPPT{% endblock %}

{% block content %}
{% include "components/settings/ai_config/content_1.html" %}
{% endblock %}

{% block extra_css %}
<style>
{% include "components/settings/ai_config/extra_css_1.html" %}
</style>
<link rel="stylesheet" href="/static/css/pages/settings/settings.css?v=20261003-black">
<script src="/static/js/pages/settings/settings.js?v=20261002-settings" defer></script>
{% endblock %}

{% block extra_js %}
<script>
{% include "components/settings/ai_config/extra_js_1.html" %}
</script>
{% endblock %}
